{% extends "base.html" %}

{% block body %}

<!-- Hero Section -->
<div class="relative bg-base-200" style="height: 300px;">
    <div class="relative flex items-center justify-center h-full text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold text-purple-400">artlink</h1>
            <p class="py-5 text-lg text-green-400">
                Simiplifying art trading.
            </p>
            
        </div>
    </div>
</div>

<div class="flex flex-col px-6 py-8 mt-8 ml-10 space-y-6">
    <div class="flex flex-row items-start">
        <div class="flex-1 mr-6">
            <h2 class="text-4xl font-bold mb-6">About Us</h2>
            <p class="text-base font-medium">
                Art has a problem. Artists are not being recognized, AI art is taking
                <br />over, and there is not a strong market for digital art.
                <br />
                <br />
                But there is hope with artlink. artlink allows users to purchase art through ICP and view art in a 3D virtual
                reality world. Arts are able to gain recognition and have their art purchased easier than in the real world.
                <br />
                <br />
                Log in to sell and buy artwork!
            </p>
        </div>

        <div class="flex-1 pl-20 ml-32">
            <img src="https://i.postimg.cc/C10njrf2/logo.png" 
                 alt="Artistic image" 
                 class="object-cover" 
                 style="max-width: 300px;">
        </div>
    </div>

    <div class="flex justify-start space-x-4">
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Login</a>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Sign Up</a>
    </div>
</div>

{% endblock %}
