{% extends "base.html" %}

{% block body %}

<div class="relative bg-base-200" style="height: 250px;">
  <div class="relative flex items-center justify-center h-full text-center">
      <div class="max-w-md w-full">
          <h1 class="text-5xl font-bold">{{ message }}{{ username }}!</h1>
          <h2 class="pt-4 text-1xl">See your artworks below.</h2>
      </div>
  </div>
</div>

<section class="grid-container">
{% for artwork in artworks %}
    <div class="grid-item pt-6 px-6">
        <div class="item-name">{{ artwork.title }}</div>
        <img src="{{ artwork.image_url }}" alt="Artwork Image">
        <div class="item-price"><u><b>{{ artwork.price }}</b></u></div>
    </div>
{% else %}
    <div class='p-4'>No artworks owned.</div>
{% endfor %}
  </section>


{% endblock %}